body{
  margin: 0px;
  padding: 0px;
}

h1{
  text-align: center;
  font-family: 'Comic Sans';
  font-size: 3em;
  color: #f91200;
}
p{
  font-family: "Time New Roman";
  font-size: 2em;
  text-align: center;
}
.container{
  display: grid;
  padding: 2em;
  margin: 0 auto;
  border: 1px #ff3467 solid;
}
